body {
  font-family: "Rubik", sans-serif;
  /* background-color: rgb(248, 247, 247); */
}

h1,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
.link {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid #ccc;
}

h1 {
  margin-top: 20px;
}

li {
  font-size: 14px;
}

li::first-letter {
  text-transform: capitalize;
}
.wrap {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.visual-weather {
  display: flex;
  align-items: center;
}

.sun {
  font-size: 50px;
  color: yellow;
  margin-right: 20px;
}
.gradus {
  position: relative;
  font-size: 50px;
}

.data-gradus {
  display: flex;
  position: absolute;
  margin-left: 5px;
  font-size: 14px;
  top: 13px;
  left: 46px;
}

.current {
  color: rgb(0, 86, 184);
}

.data-weather {
  font-weight: 500;
  margin-right: 50px;
}
